@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
  max-width: 1300px; /* maximum width for large screens */
  margin: 0 auto; /* center content horizontally */
  padding: 0 20px;
  font-family: "Inter", sans-serif;
}
